{% extends 'design.html' %}
{% block middle %}
<div class="row justify-content-evenly" id="about">
    <div class="col-md-5 mt-4">
        <img src="/static/images/shiva.png" class="img-fluid">
    </div>
    <div class="col-md-5 mt-4">
        <div class="col-12 h1 text-center">Shiva Gautam</div>
        <div class="col-12 about-text">
            "I am Shiva Gautam, I am an entrepreneur for the past 12 years, I am managing the Software development
            company Kangaroo Software PVT LTD and the best Software Education Institute SHIVA CONCEPT SOLUTION. I am
            very much passionate about teaching and writing blog content. So I have to provide this ShivaConceptDigital
            platform which is the best digital training platform for Students on affordable fee structure under the
            guidance of me (Shiva Sir), Our Center, Located Strategically at Palasia, Vijaynagar, and Indrapuri
            Bhawarkua. I Have 10+ Years of IT Experience and In-Depth Real-Time Exposure to various technologies which
            help students to provide corporate exposure. We Provide Excellent Lab Facilities and Placement Assistance to
            our Students. We provide training in the latest technologies M.L, IoT, Data Science, Salesforce, Deep
            Learning, Kotlin, Oracle CRM, and many more.
        </div>
    </div>
    <div class="col-md-5 mt-4">
        <div class="col-12 h1 text-center">
            Become A Professional From Student
        </div>
        <div class="col-12 about-text">
            SHIVA CONCEPT SOLUTION is the best software training institute in Indore India, We are providing quality
            training services for the past 8 years, we have trained 10000+ students, & conducted 500+ workshops and
            seminars in 100+ engineering colleges. Shiva concept solution is a training-based company of Kangaroo
            Software PVT LTD. Mr. Shiva Gautam is a working professional with 10+ years of IT experience. We provide
            training in the latest technologies ML, IoT, Data Science, Salesforce, Deep Learning, Kotlin, R Programming,
            Aurdino, Devops, Oracle CRM, Blockchain, and many more. NOW SHIVA Concept Solution is an authorized training
            Partner of HPE to provide Global Certification in JAVA,.NET, PHP, C, CPP, DS, Machine learning, Data
            Science, AI, Python, etc.
        </div>
    </div>
    <div class="col-md-5 mt-4">
        <img src="/static/images/student.webp" class="img-fluid">
    </div>
    <div class="col-md-5 mt-4 mb-5">
        <img src="/static/images/vision.jpg" class="img-fluid">
    </div>
    <div class="col-md-5 mt-4">
        <div class="col-12 h1 text-center">Our Vision</div>
        <div class="col-12 about-text mb-5">
            Our vision is to improve students’ technical skills and help students to become job-ready, for this purpose
            SHIVA CONCEPT SOLUTION is the best software training institute in Indore India, We are providing quality
            training services for the past 10 years, and we have trained 10000+ students, we have conducted 500+
            workshops and seminar in 100+ engineering colleges. We provide excellent lab facilities with an unlimited
            timeframe. We also provide placement assistance to our trainees. We provide training in the latest
            technologies Machine learning, IoT, Data Science, Salesforce, Deep Learning, Kotlin, R Programming, Aurdino,
            Devops, Oracle CRM, Blockchain, and many more. NOW SHIVA Concept Solution is an authorized training Partner
            of HPE to provide Global Certification in JAVA,.NET, PHP, C, CPP, DS, Machine learning, Data Science, AI,
            Python, etc.
        </div>
    </div>
</div>
{% endblock %}