{% extends 'design.html' %}
{% block middle %}
<div class="row justify-content-evenly">
    <div class="col-12">
        <img src="/static/images/index.gif" width="100%" class="img-fluid">
    </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-8 h1 text-center mt-5 mb-5">
        Choose your courses with free demo session.
    </div>
    <div class="col-10 mb-5" style="text-align: justify;">
        Shiva Concept Digital is online platform to provide best digital training on programming languages.We also
        created courses for interview preparation under Online sessions. We provide certification & Job Oriented
        Corporate based training on all popular technologies Java, .NET, Python, PHP, iOS, Android, Salesforce, Ruby,
        Cloud, Data Science, ML, React, Node, and Angular technologies.
    </div>
    <div class="col-lg-6 col-8 text-center mb-5">
        <div class="input-group">
            <input type="search" class="form-control rounded bg-light" placeholder="Search your course here"
                aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" class="btn btn-outline-primary" value="Search course">
        </div>
    </div>
</div>
<div class="row justify-content-evenly">
    <div class="card col-3 mb-5" style="width: 18rem;">
        <img src="/static/images/java.gif" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-center">CORE JAVA</h5>
            <p class="card-text" style="text-align: justify;">Java is used to create small scale to large scale
                application’s. Java is complete technology and it is a popular programming
                language.</p>
            <a href="#" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card col-3 mb-5" style="width: 18rem;">
        <img src="/static/images/python.gif" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-center">PYTHON</h5>
            <p class="card-text" style="text-align: justify;">Python is complete technology or platform which contain
                multiple library, framework, and support to create application software.
            </p>
            <a href="#" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card col-3 mb-5" style="width: 18rem;">
        <img src="/static/images/swtesting.gif" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-center">SW TESTING</h5>
            <p class="card-text" style="text-align: justify;">Software testing is the process of evaluating and verifying that a software product or application does what it is supposed to do.</p>
            <a href="#" class="btn btn-primary">More info</a>
        </div>
    </div>
</div>
{% endblock %}