<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Series</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Secular+One&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Patua One', cursive;
            font-family: 'Secular One', sans-serif;
        }
    </style>
</head>
<body>
    <form action="" method="post">
{#        {% csrf_token %}#}
        <input type="text" name="num" placeholder="Enter Number">
        <br><br>
        <input type="submit" name="btnsumbit" value="Click to view Fibonacci Series">
    </form>
</body>
</html>