{% extends 'autocrud/design.html' %}
{% block middle %}
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-12 display-6 fw-bold pt-3 pb-3 mb-4 rounded bg-danger text-white text-center">
            {{ object.name }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mb-2 text-center bg-secondary rounded-pill fs-4 text-white">Name : {{ object.name }}</div>
        <div class="col-md-8 text-center rounded-pill mb-2 fs-4 bg-info">Gender : {{ object.gender }}</div>
        <div class="col-md-8 text-center fs-4 bg-success mb-2 rounded-pill text-white">Mobile no : {{ object.mobile }}</div>
        <div class="col-md-8 text-center fs-4 rounded-pill bg-warning">Email ID : {{ object.email }}</div>
    </div>
</div>
{% endblock %}