{% extends 'trydata/layout.html' %}
{% block body %}
<table class="container">
    <table class="row" border="1">
        <caption>
            Student Records
        </caption>
        {% for stu in show %}
        <thead>
            <th>
                Roll No
            </th>
            <th>
                Name
            </th>
            <th>
                Branch
            </th>
            <th colspan="2">
                Fees
            </th>
        </thead>
        <tbody>
            <td>{{stu.roll}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.branch}}</td>
            <td>{{stu.fees}}</td>
            <td><a href="updatedata?q={{stu.id}}">Edit</a></td>
            <td><a href="deletedata?q={{stu.id}}">Delete</a></td>
        </tbody>
        {% endfor %}
    </table>
</table>
{% endblock %}