{% extends 'database/design.html' %}
{% block middle %}

<div class="container">
    <div class="row mt-5">
      <div class="col h1 p-5 text-center bg-warning rounded regis">Student Registration Form</div>
    </div>
    <div class="row justify-content-center mb-5">
    <form action="" class="row mt-5 pt-5 p-5 bg-success rounded applyform" method="post" style="background-image:linear-gradient(to right bottom,rgb(103, 255, 214),rgb(255, 136, 136),rgb(113, 113, 211)) ; width: 50rem;">
        {% csrf_token %}
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Enter full name" name="name" id="name">
        </div>
      </div>
      <div class="col-12 ps-1 m-3">
        <div class="col mb-3">Select Gender</div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="text" class="form-control" id="email" placeholder="name@example.com" name="email">
        </div>
        <div class="col-12 mb-3">
          <label for="mob" class="form-label">Mobile No</label>
          <input type="text" class="form-control" id="mob" placeholder="Mobile Number" name="mobile">
        </div>
        <div class="col-12 mb-3">
          <select class="form-select" aria-label="Default select example" id="country" name="country">
            <option value="" disabled selected>Select Your Country</option>
            <option value="India">India</option>
            <option value="United State of America">United State of America</option>
            <option value="Germany">Germany</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <select class="form-select" aria-label="Default select example" id="state" name="state" multiple>
            <option value="" disabled selected>Select Your State</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <select class="form-select" aria-label="Default select example" id="city" name="city">
            <option value="" disabled selected>Select Your City</option>
            <option value="Indore">Indore</option>
            <option value="Jabalpur">Jabalpur</option>
            <option value="Bhopal">Bhopal</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <select class="form-select" aria-label="Default select example" id="qualification" name="qualification">
            <option value="" disabled selected>Select Last Qualification</option>
            <option value="Class X">Class X</option>
            <option value="Class XII">Class XII</option>
            <option value="Graduate">Graduate</option>
          </select>
        </div>
        <div class="col-12">
          <div class="col mb-1">Select Desired Courses</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="java" name="tech" value="Java">
            <label class="form-check-label" for="java">Java</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="python" name="tech" value="Python">
            <label class="form-check-label" for="python">Python</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="android" name="tech" value="Android">
            <label class="form-check-label" for="android">Android</label>
          </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="mytextarea" class="form-label">Tell us about yourself</label>
            <textarea class="form-control areatxt" id="mytextarea" rows="6" name="txtarea" style="resize: none;"></textarea>
          </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
          <input type="submit" class="btn btn-info" value="Submit Here" onclick="return valid()">
        </div>
      </div>
    </form>
    <div class="col-12 display-6 text-center mt-5 text-primary">
        {{applytrue}}
    </div>
    </div>
  </div>

{% endblock %}