{% extends 'database/design.html' %}
{% block middle %}
<form class="container ps-5 pt-5 pe-5" method="post">
    {% csrf_token %}
    <table class="table table-striped" style="font-variant: small-caps;font-size: 1.5rem;word-break: break-word;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Roll</th>
                <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Fees</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-transform: uppercase;">
                <th scope="row"><input type="text" name="rno" placeholder="Enter roll" style="width:10rem ;"></th>
                <td><input type="text" name="name" placeholder="Enter name" style="width:15rem ;"></td>
                <td><input type="text" name="branch" placeholder="Enter branch" style="width:10rem ;"></td>
                <td><input type="text" name="fees" placeholder="Enter fees" style="width:10rem ;"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 col-3 mx-auto m-5">
        <input class="btn btn-outline-primary" type="submit" name="btn" value="ADD STUDENT DATA">
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-12 text-center text-success display-6">
            {{key}}
        </div>
    </div>
</div>
{% endblock %}